.light{
    height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.trafficBody{
    background-color: black;
    display: inline-block;
}

.topTraffic{
    width: 10px;
    height: 50px;
    background-color: black;
    margin: auto;
}

.glow{
  box-shadow: 0px 0px 9px 4px #747DE8;
}
.parent{
    text-align: center;
}